<h1>All contacts</h1>
<ul class="contact-list">
  <% @contacts.each do |contact| %>
    <li class="contact">
      <a tile="View this contact" href="/contacts/<%= contact.id %>">
        <p><span>First name:</span> <%= contact.first_name %> </p> 
        <p><span>Last name:</span> <%= contact.last_name %> </p>
        <p><span>Email:</span> <%= contact.email %> </p>
        <p><span>Notes:</span> <%= contact.note %> </p>
      </a>
    </li>
  <% end %>
</ul>
