<div class="contact">
  <p><span>First name:</span> <%= @contact.first_name %></p> 
  <p><span>Last name:</span> <%= @contact.last_name %></p>
  <p><span>Email:</span> <%= @contact.email %></p>
  <p><span>Notes:</span> <%= @contact.notes %></p>
</div>
<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="Delete contact">
</form>